.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F6F7FA;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 100vh;
    border: 2px solid #F6F7FA;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #F6F7FA;
}